@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Noto+Serif+SC:wght@400;700&display=swap');

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

.font-header {
  font-family: theme('fontFamily.header');
}

html {
  --at-apply: 'antialiased bg-background c-primary font-ui text-shadow-color-shadow';

  text-shadow: 1px 1px 1px var(--color-shadow);
  background-size: 7px 7px;
  background-image: linear-gradient(to right, var(--color-shadow) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-shadow) 1px, transparent 1px);
}

.prose {
  --un-prose-body: var(--color-primary);
  --un-prose-headings: var(--color-primary);
  --un-prose-links: var(--color-primary);
  --un-prose-bold: var(--color-primary);
  --un-prose-borders: color-mix(in srgb, var(--color-primary) 18%, transparent);
}

:where(a):not(.not-underline-hover) {
  --at-apply: 'p-1.5px decoration-underline decoration-0.1em decoration-offset-2px ease-in-out duration-300ms';
  --at-apply: 'hover:(c-background bg-primary decoration-primary)';
}
