---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import LayoutPost from '~/layouts/LayoutPost.astro'
import type { Post } from '~/types'
import { getPostDescription, getPosts } from '~/utils'

const posts = await getPosts(true)

const yearMap = getYearMap(posts)

function getYearMap(posts: Post[]) {
  const result = new Map<number, Post[]>()
  for (const post of posts) {
    const year = (post.data.pubDate ?? new Date()).getFullYear()
    const posts = result.get(year) ?? []
    posts.push(post)
    result.set(year, posts)
  }
  return Array.from(result.entries())
}
---

<LayoutDefault>
  <section contain-layout flex="~ col gap-7.5">
    {
      yearMap.map(([year, posts]) => (
        <section flex="~ col gap-7.5">
          <h2 class="post-title">{year}</h2>
          <div flex="~ col gap-7.5">
            {posts.map((post) => (
              <LayoutPost post={post}>
                <p class="line-clamp-4">{getPostDescription(post)}</p>
              </LayoutPost>
            ))}
          </div>
        </section>
      ))
    }
  </section>
</LayoutDefault>
