---
import type { Post } from '~/types'
import { formatDate } from '~/utils'
import PostCategory from './PostCategory.astro'

interface Props {
  post: Post
  headingTag?: 'h1' | 'h2'
  linkTitle?: boolean
}

const { post, headingTag = 'h1', linkTitle = true } = Astro.props
const { translate: t } = Astro.locals

const categoryList = post.data.categories ?? []
const HeadingTag = headingTag
---

<header flex="~ col gap-2">
  <HeadingTag class="post-title">
    {
      linkTitle
        ? <a class="not-prose" href={`/posts/${post.id}/`}>{post.data.title}</a>
        : <span class="not-prose">{post.data.title}</span>
    }
  </HeadingTag>
  <p class="text-3.5">
    <span>{t(post.data.modDate ? 'updated_at' : 'posted_at')}</span>
    <time>{formatDate(post.data.modDate ?? post.data.pubDate)}</time>
    {categoryList.map(category => <PostCategory category={category} />)}
  </p>
</header>
