---
import PostMeta from '~/components/PostMeta.astro'
import type { Post } from '~/types'

interface Props {
  post: Post
}

const { post } = Astro.props
---

<article
  class="prose max-w-none prose-headings:font-header prose-headings:font-bold prose-headings:c-primary prose-a:c-primary"
>
  <PostMeta post={post} headingTag="h2" linkTitle={true} />
  <div class="post-list-preview">
    <slot />
  </div>
</article>

<style>
  .post-list-preview :global(p) {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
</style>
